.button-style {
    background-color: #6b008b;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    transition: 0.5s;
    margin: 32px 0;
}

.button-style:hover {
    color: #95FFD4;
}

