.formSection {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formSection form {
    max-width: 80%;
    background: linear-gradient(135deg, rgba(210,0,0,0.7819502801120448) 0%, rgba(0,2,125,1) 52%, rgba(119,0,170,1) 100%);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    color: white;
}